.movieDetail {

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;

    @media screen and (min-width: 600px) {
      width: auto;
      max-width: 250px;
      height: 100%;
    }
  }

  &__title {
    margin: 0;

    &--original {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  &__text {

    @media screen and (min-width: 600px) {
      flex: 1;
      padding: 0 20px 20px 20px;
    }
  }

  &__categories {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    &--item {
      &:first-child {
        margin: 2px 4px 2px 0;
      }

      &:not(:first-child) {
        margin: 2px 4px;
      }

      padding: 5px 10px;
      background-color: #13529e;
      font-size: 14px;
      display: inline-block;
      border-radius: 3px;

      &:hover {
        background-color: #1762bc;
        cursor: pointer;
      }
    }

    &--link {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__message {
    text-align: center;
  }

  &__subtitle {
    margin: 40px 0 20px 0;
  }

  &__cast {

    &--list {
      color: #2d1f16;
      text-decoration: none;
    }

    &--item {
      font-weight: bolder;

      &:hover {
        text-decoration: underline;
      }
    }

    &--more {
      font-size: 14px;
      color: #3366cc;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}