.button {
  display: inline-block;
  margin: 1.25rem 0;
  padding: 0.625rem 0.9375rem;
  background-color: #878787;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2px;

  &:hover {
    background-color: #989898;
  }
}