.moviesPage {
  margin: 0 auto;
  max-width: 1200px;
  flex: 1;

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}