.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__link {
    color: #2d1f16;

    &:hover {
      color: #1762bc;
      text-decoration: none;
    }
  }
}