.footer {
  padding: 1.25rem;
  background-color: #000000;
  font-size: 0.875rem;
  color: #737373;
  text-align: center;

  &__text {
    margin: 0;

    &--link {
      color: #737373;
      text-decoration: none;

      &:hover {
        color: #e50914;
      }
    }
  }

}