.search {
  background-color: #000000;
  padding: 0.625rem;

  &__container {
    margin: 0 auto;
    padding: 0 2.5rem;
    max-width: 87.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
  }

  &__input {
    padding: 0.3125rem;
    width: 12.5rem;
    height: 1.875rem;
    font-size: 1rem;
    border: 1px solid #888888;
    border-radius: 1px;
    background-color: #000000;
    color: #ffffff;
  
    &:focus-visible {
      outline: none;
      border: 1px solid #e50914;
    }
  }

  &__label {
    padding: 0.1875rem;
    background-color: #e50914;
    border-radius: 1px;
    display: flex;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #a4060e;
    }
  }
}

.icon-search {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}