html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  color: #2d1f16;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}